@{ 
    ViewBag.Title = "About";
    }
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h2>Learn, Shared, Build!</h2>
            <h5>Each month, over 50 million developers come to Yawa to learn, share their knowledge, and build their careers</h5>
            <p class="lead">Join the world's largest developer community</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Founded in 2008</div>
            <div class="card-body">
                Founded in 2008.Unstuck is the largest, most trusted online community
                for developers to learn, share their knowledge, and build their careers. More than
                50 million professional and aspiring programmers visit Unstuck each month to help
                solve coding problems, develop new skills and find job opportunities.
            </div>
        </div>
    </div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header bg-light">
            Our Partners
        </div>
        <div class="card-body">
            Stack OverFlow partners with businesses to help them understand,hire,engage, and 
            enable the world's developers. Our product and services are focused on developer marketing,
            technical recruiting,market research and enterprise knowledge sharing.Learn more about
            our business solutions here.
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-light">
                Stack Overflow Offices
            </div>
            <img class="card-img-top" src="~/images/Images_map.svg" alt="Offices" />
            <div class="card-body">
                Unstuck currently employs more than 250 people in its head offices in New York.
                London and Munich as well as remote workers from Israel.Brazil, Japan, Germany, Slovenia,
                Spain, Poland, France, Russia, Canada, and UK. The company is committed to diversity
                in the workplace and is currently hiring.
            </div>
        </div>
    </div>
</div>
<script>
    $("a[href='/home/about']").attr("id","active");
</script>