@model List<StackOverFlow.ViewModels.CategoryViewModel>

@{ 
    ViewBag.Title = "Categories";
}

<div class="row">
    <div class="col-sm-8">
        <h4>Categories</h4>
        @foreach(var item in Model)
            {
            <ol>
                <li class="list-group-item list-group-item-action">
                    @item.CategoryID.@item.CategoryName | 
                    
                    @Html.ActionLink("Delete","Delete",new {cid = item.CategoryID})
                 
                </li>
             </ol>
            }
    </div>

    <div class="row">
        <div class="col-sm-12">
            @if (Convert.ToInt32(Session["CurrentUserID"]) == 1 )
            {
                <a href="/questions/category" class="btn btn-primary">
                    Add Category
                </a>
            }
        </div>
    </div>
</div>

<script>
    $("a[href='/home/categories']").attr("id", "active");
</script>