@model List<StackOverFlow.ViewModels.CategoryViewModel>

@{ 
    ViewBag.Title = "Categories";
}

<div class="row">
    <div class="col-sm-12">
        <h4>Categories</h4>
        @foreach(var item in Model)
            {
                <li class="list-group-item list-group-item-action">@item.CategoryID.@item.CategoryName</li>
            }
    </div>
</div>

<script>
    $("a[href='/home/categories']").attr("id", "active");
</script>